html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.mainContainer {
    margin: inherit;
    display: flex;
    flex-flow: column nowrap;
    height: inherit;
    width: inherit;
}

header {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: #4C934C;
    color: white;
}

header ul {
    margin: 16px;
    margin-left: auto;
}

header ul li{
    display: inline;
    text-decoration: none;
    background-color: #373737;
    border-radius: 8px;
}

ul li a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

header .title {
    font-size: 26px;
    font-weight: 500;
    margin-left: 14px;
}

/* ------- */

.contentContainer {
    display: flex;
    flex-flow: row nowrap;
    height: inherit;
    width: inherit;
}

.sidebar {
    background-color: #373737;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 160px;
}

.sidebar #copyright {
    margin-top: auto;
    margin-bottom: 25px;
    font-size: 14px;
    color: white;
    font-weight: 500;
}

/* Bootstrap overrides */
.sidebar .btn {
    margin-top: 28px;
    width: 110px;
    border-radius: 16px;
}

.cards {
    background-color: #4e5b69;
    width: inherit;
}

.cards > .container {
    margin: 28px 10px;
    display: flex;
    flex-flow: row wrap;
}

.card {
    background-color: #FCE694;
    margin-left: 18px;
    margin-bottom: 14px;
    min-width: 180px;
    max-width: 250px;
}

.card-body {
    background-color: #eee;
}