html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.mainContainer {
    height: inherit;
    width: inherit;
    display: flex;
    flex-flow: column nowrap;
}

/* ------------------------- */

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #2A3D45;
    color: white;
    min-height: 60px;
}

header ul {
    margin-right: 26px;
    margin-left: auto;
}

header ul li{
    display: inline;
    margin-left: 12px;
}

img {
    width: 35px;
    height: 35px;
}

header .title {
    font-size: 36px;
    font-weight: 700;
    margin-left: 28px;
    font-family: 'Yanone Kaffeesatz';
}

/* ------------------------- */

.mainContainer .contentContainer {
    height: inherit;
    width: inherit;
    background-color: #262626;
    display: flex;
    flex-flow: row nowrap;
}

.btn {
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 500;
}

/* ------------------------- */

.sidebar {
    background-color: #303030;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    min-width: 200px;
    padding-left: 26px;
    padding-right: 26px;
}

.sidebar #copyright {
    margin-top: auto;
    margin-bottom: 25px;
    font-size: 16px;
    color: white;
    font-weight: 400;
}

.sidebar .btn {
    margin-top: 28px;
    min-width: 100%;
    min-height: 45px;
    font-size: 20px;
}

.btn-new {
    background-color: #255C99;
}

.btn-new:hover {
    background-color: #2f76c7;
}

.btn-removeAll {
    background-color: rgb(134, 0, 0);
}

.btn-removeAll:hover {
    background-color: rgb(199, 0, 0);
}

#newCardForm {
    margin-top: 10px;
}

#newCardForm .form-control {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

#newCardForm #addNewCard {
    background-color: #4C934C;
    margin-top: 8px;
    min-width: 80px;
    min-height: 35px;
    font-size: 16px;
}

#newCardForm #addNewCard:hover {
    background-color: rgb(93, 187, 93);
}

input, textarea {
    padding: 5px 10px;
    max-width: 175px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Roboto';
    border-radius: 8px;
    border: 2px solid #1f1f1f;
}

input:focus-visible, textarea:focus-visible {
    outline: none;
}

/* ------------------------- */

.contentContainer .cards {
    height: inherit;
    width: inherit;
}

.cards .container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-left: 26px;
    margin-top: 28px;
}

.cards .container .card {
    min-width: 180px;
    margin-right: 25px;
    margin-bottom: 25px;
    max-width: 250px;
}

.cards .container .card .card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    /* background-color: #FCE694; */
    border-bottom: 2px solid black;
}

.cards .container .card .card-title {
    font-size: 18px;
    font-weight: 700;
    margin-right: 4px;
}

.cards .container .card .card-options {
    display: flex;
    flex-flow: row nowrap;
}

.cards .container .card .card-body {
    background-color: #eee;
    padding: 10px;
}

.card-options .btn {
    background-color: transparent;
    font-size: 14px;
    padding: 2px;
    margin-left: 4px;
}

.card-options .btn-remove:hover {
    background-color: rgb(0, 128, 128);
}

.card-options .btn-edit:hover {
    background-color: rgb(73, 0, 243);
}